header{
    background: url('https://img.freepik.com/free-photo/black-concrete-wall_24972-1046.jpg?t=st=1713977970~exp=1713981570~hmac=f011a6ed7259e5f4eadc7c5a8f519b1729d829570ad16a9ce61e53fa76a6e015&w=996'); 
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
}

h1{
    margin-left: 20px; 
    margin-bottom: 20px;
    color: #fffbc9;
    font-family: cursive;

}

a{
    margin: 60px;
    font-family: cursive;
    color: aliceblue;
    font-size: 22px;
}

body{
    background: url('https://img.freepik.com/free-photo/grunge-gray-concrete-textured-background_53876-129715.jpg?t=st=1715793143~exp=1715796743~hmac=b6cfbfb37997d38d0c552b893e0e50bbbbd82fd10fdc2feabbc7f4d660256505&w=996');
}

h2{
    font-family: cursive;
    color: black;
}

#home, .fahiv{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

p{
    font-size: 22px;
    font-family: cursive;
    color: white;
}

.main-text{
    color: black;
    text-align: center;

}

.fahiv{
    text-align: center;
    width: 350px;
}

.modal-bg{
    display: none;
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffffff45;
}

.modal-window{
    background: rgba(24, 108, 98, 0.76);
    margin: 5px auto;
    width: 50%;
    height: 50%;
    max-width:  1100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aply-form{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    width: 300px;
    height: 500px;
}

.aply-form input{
    width: 300px;
    height: 3px;
    padding: 15px;
    border: 2px solid rgb(50, 85, 98);
}

.aply-form textarea{
    width: 300px;
    padding: 15px;
    border: 2px solid rgb(50, 85, 98);
}

.aply-form button{
    background-color: #11c574;
    color: rgb(78, 101, 101);
    padding: 3px 10px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: right;
}

.aply-form btn{
    display: flex;
    gap: 20px;

}

.txt, .proff{
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    flex-wrap: wrap;
    align-items: center;
}
